<suite name="Mytestsuite">
<parameter name="browser" value="Chrome"></parameter>
<listeners>
<listener class-name="listeners.Listeners"></listener>

</listeners>
	<test threadcount="3" name="myTest">
		
		<classes>
	<class name="testcases.LoginPageTest"></class>
	<methods >
	<include name="loginWithInValidUsernameAndInvalidPassword"></include>
	</methods>
	
</classes>
		
	</test>
</suite>
