<suite name="Mytestsuite">
<parameter name="browser" value="Chrome"></parameter>
<listeners>
<listener class-name="listeners.Listeners"></listener>

   </listeners>
	<test threadcount="3" name="myTest">
		
	<classes>
	
	<class name="testcases.LoginPageTest"></class>
	<class name="testcases.ManageCategoryTest"></class>
	<class name="testcases.ManageContactTest"></class>
	<class name="testcases.ManageFooterTextTest"></class>
	<class name="testcases.ManageGiftAndVouchersTest"></class>
	<class name="testcases.ManageNewsTest"></class>
	<class name="testcases.SubCategoryTest"></class>
	
	
	
    </classes>
		
	</test>
    </suite>
